<template>
    <Head title="Welcome" />

    <div>
         <div id="wrapper">
        <div id="btn-exit">
            <div class="line-1"></div>
            <div class="line-2"></div>
        </div>
        <div class="transition"></div>
        <!-- header begin -->
        <header class="header-bottom transparent">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between">
                            <div class="align-self-center header-col-left">
                                <!-- logo begin -->
                                <div id="logo">
                                    <a href="index-1.html">
                                        {{ nameProgrammeur }}
                                    </a>
                                </div>
                                <!-- logo close -->
                            </div>
                            <div class="align-self-center ml-auto header-col-mid">
                                <!-- mainmenu begin -->
                                <ul id="mainmenu" class="scrollnav">
                                    <li><a href="#section-resume">Resume</a></li>
                                    <li></li>
                                    <li><a href="#section-about">About Me</a></li>
                                    <li></li>
                                    <li><a href="#section-portfolio">Portfolio</a></li>
                                    <li></li>
                                    <li><a href="#section-blog">Blog</a></li>
                                    <li></li>
                                    <li><a href="#section-contact">Contact</a></li>
                                    <li></li>
                                </ul>
                                <!-- mainmenu close -->
                            </div>
                            <div class="align-self-center ml-auto header-col-right">
                                <a href="#" class="btn-custom sm-hide">Download CV</a>
                                <span id="menu-btn"></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        
        <!-- content begin -->
        <div class="no-bottom no-top dark">
            <div id="top"></div>
            <!-- section begin -->
            <section id="section-main" class="vertical-center" data-bgimage="url(/showcase/images/background/4.jpg) top" data-stellar-background-ratio=".5">
                <div id="particles-js"></div>
                <div id="v-wrap">
                    <div class="vw-inner">
                        <div class="vw-col"><i class="fa fa-mobile id-color"></i> +1 1224 6779</div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay=".25s">
                            <h1 class="big text-light">{{ nameProgrammeur }}</h1>
                            <div class="spacer-half"></div>
                            <div class="typed-words">
                                I Am
                                <div class="typed-strings">
                                    <p>Programmer</p>
                                    <p>Analyst</p>
                                    <p>Designer</p>
                                </div>
                                <div class="typed"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->
            
            <!-- section begin -->
            <section id="section-resume" class="dark" data-bgimage="url(/showcase/images/background/4-blur.jpg) top fixed">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 wow fadeInRight">
                            <h4 class="title">I'm available for hire</h4>
                            <h2 class="title">My Resume</h2>
                            <div class="title-underline"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 wow fadeInRight" data-wow-delay=".25s">
                            <h3 class="s_border">Education</h3>
                            <ul class="d_timeline">
                                <li class="d_timeline-item">
                                    <h3 class="d_timeline-title">Feb 2002 - Mar 2003</h3>
                                    <p class="d_timeline-text"><span class="d_title">Master in Design<span>New York University</span></span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tempora perferendis vero officia enim impedit voluptatem dignissimos, veniam ratione est alias rerum aperiam, nam aliquam reprehenderit iste dolor.</p>
                                </li>
                                <li class="d_timeline-item">
                                    <h3 class="d_timeline-title">Feb 2002 - Mar 2003</h3>
                                    <p class="d_timeline-text"><span class="d_title">Bachelor of Arts<span>University of London</span></span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tempora perferendis vero officia enim impedit voluptatem dignissimos, veniam ratione est alias rerum aperiam, nam aliquam reprehenderit iste dolor.</p>
                                </li>
                                <li class="d_timeline-item">
                                    <h3 class="d_timeline-title">Feb 2002 - Mar 2003</h3>
                                    <p class="d_timeline-text"><span class="d_title">Artist of College</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tempora perferendis vero officia enim impedit voluptatem dignissimos, veniam ratione est alias rerum aperiam, nam aliquam reprehenderit iste dolor.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 wow fadeInRight" data-wow-delay=".5s">
                            <h3 class="s_border">Work Experiences</h3>
                            <ul class="d_timeline">
                                <li class="d_timeline-item">
                                    <h3 class="d_timeline-title">Feb 2015 - 2019</h3>
                                    <p class="d_timeline-text"><span class="d_title">Lead &amp; UI / UX Designer<span>Apple</span></span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tempora perferendis vero officia enim impedit voluptatem dignissimos, veniam ratione est alias rerum aperiam, nam aliquam reprehenderit iste dolor.</p>
                                </li>
                                <li class="d_timeline-item">
                                    <h3 class="d_timeline-title">Feb 2010 - Mar 2015</h3>
                                    <p class="d_timeline-text"><span class="d_title">Senior &amp; UI / UX Designer<span>Google</span></span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tempora perferendis vero officia enim impedit voluptatem dignissimos, veniam ratione est alias rerum aperiam, nam aliquam reprehenderit iste dolor.</p>
                                </li>
                                <li class="d_timeline-item">
                                    <h3 class="d_timeline-title">Feb 2006 - Mar 2010</h3>
                                    <p class="d_timeline-text"><span class="d_title">Junior &amp; UI / UX Designer<span>Microsoft</span></span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tempora perferendis vero officia enim impedit voluptatem dignissimos, veniam ratione est alias rerum aperiam, nam aliquam reprehenderit iste dolor.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="spacer-50"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="s_border">Programming Skills</h3>
                            <div class="skill-bar">
                                <h5>HTML &amp; CSS</h5>
                                <div class="de-progress">
                                    <div class="value"></div>
                                    <div class="progress-bar" data-value="95%"></div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <h5>Javascript</h5>
                                <div class="de-progress">
                                    <div class="value"></div>
                                    <div class="progress-bar" data-value="75%"></div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <h5>PHP</h5>
                                <div class="de-progress">
                                    <div class="value"></div>
                                    <div class="progress-bar" data-value="85%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="s_border">Other Skills</h3>
                            <div class="skill-bar">
                                <h5>Copywritting</h5>
                                <div class="de-progress">
                                    <div class="value"></div>
                                    <div class="progress-bar" data-value="75%"></div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <h5>Drawing</h5>
                                <div class="de-progress">
                                    <div class="value"></div>
                                    <div class="progress-bar" data-value="90%"></div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <h5>Singing</h5>
                                <div class="de-progress">
                                    <div class="value"></div>
                                    <div class="progress-bar" data-value="80%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section id="section-resume" class="dark" data-bgimage="url(/showcase/images/background/4-blur.jpg) top fixed">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 wow fadeInRight">
                            <h4 class="title">I'm available for hire</h4>
                            <h2 class="title">My Resume</h2>
                            <div class="title-underline"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 wow fadeInRight" data-wow-delay=".25s">
                            <h3 class="s_border">Education</h3>
                            <ul class="d_timeline">
                                <li class="d_timeline-item">
                                    <h3 class="d_timeline-title">Feb 2002 - Mar 2003</h3>
                                    <p class="d_timeline-text"><span class="d_title">Master in Design<span>New York University</span></span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tempora perferendis vero officia enim impedit voluptatem dignissimos, veniam ratione est alias rerum aperiam, nam aliquam reprehenderit iste dolor.</p>
                                </li>
                                <li class="d_timeline-item">
                                    <h3 class="d_timeline-title">Feb 2002 - Mar 2003</h3>
                                    <p class="d_timeline-text"><span class="d_title">Bachelor of Arts<span>University of London</span></span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tempora perferendis vero officia enim impedit voluptatem dignissimos, veniam ratione est alias rerum aperiam, nam aliquam reprehenderit iste dolor.</p>
                                </li>
                                <li class="d_timeline-item">
                                    <h3 class="d_timeline-title">Feb 2002 - Mar 2003</h3>
                                    <p class="d_timeline-text"><span class="d_title">Artist of College</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tempora perferendis vero officia enim impedit voluptatem dignissimos, veniam ratione est alias rerum aperiam, nam aliquam reprehenderit iste dolor.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 wow fadeInRight" data-wow-delay=".5s">
                            <h3 class="s_border">Work Experiences</h3>
                            <ul class="d_timeline">
                                <li class="d_timeline-item">
                                    <h3 class="d_timeline-title">Feb 2015 - 2019</h3>
                                    <p class="d_timeline-text"><span class="d_title">Lead &amp; UI / UX Designer<span>Apple</span></span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tempora perferendis vero officia enim impedit voluptatem dignissimos, veniam ratione est alias rerum aperiam, nam aliquam reprehenderit iste dolor.</p>
                                </li>
                                <li class="d_timeline-item">
                                    <h3 class="d_timeline-title">Feb 2010 - Mar 2015</h3>
                                    <p class="d_timeline-text"><span class="d_title">Senior &amp; UI / UX Designer<span>Google</span></span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tempora perferendis vero officia enim impedit voluptatem dignissimos, veniam ratione est alias rerum aperiam, nam aliquam reprehenderit iste dolor.</p>
                                </li>
                                <li class="d_timeline-item">
                                    <h3 class="d_timeline-title">Feb 2006 - Mar 2010</h3>
                                    <p class="d_timeline-text"><span class="d_title">Junior &amp; UI / UX Designer<span>Microsoft</span></span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tempora perferendis vero officia enim impedit voluptatem dignissimos, veniam ratione est alias rerum aperiam, nam aliquam reprehenderit iste dolor.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="spacer-50"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="s_border">Programming Skills</h3>
                            <div class="skill-bar">
                                <h5>HTML &amp; CSS</h5>
                                <div class="de-progress">
                                    <div class="value"></div>
                                    <div class="progress-bar" data-value="95%"></div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <h5>Javascript</h5>
                                <div class="de-progress">
                                    <div class="value"></div>
                                    <div class="progress-bar" data-value="75%"></div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <h5>PHP</h5>
                                <div class="de-progress">
                                    <div class="value"></div>
                                    <div class="progress-bar" data-value="85%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="s_border">Other Skills</h3>
                            <div class="skill-bar">
                                <h5>Copywritting</h5>
                                <div class="de-progress">
                                    <div class="value"></div>
                                    <div class="progress-bar" data-value="75%"></div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <h5>Drawing</h5>
                                <div class="de-progress">
                                    <div class="value"></div>
                                    <div class="progress-bar" data-value="90%"></div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <h5>Singing</h5>
                                <div class="de-progress">
                                    <div class="value"></div>
                                    <div class="progress-bar" data-value="80%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section id="section-about" class="dark" data-bgimage="url(/showcase/images/background/4-blur.jpg) top fixed">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 wow fadeInRight">
                            <h4 class="title">Who I Am</h4>
                            <h2 class="title">About Me</h2>
                            <div class="title-underline"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-sm-30 text-center">
                            <div class="de-images">                                
                                <div class="d-hover-zoom wow fadeInRight">
                                    <a class="image-popup" href="/showcase/images/misc/1-1.jpg">
                                        <img class="img-fluid" src="/showcase/images/misc/1-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="d-hover-zoom di-small-2 wow fadeInLeft">
                                    <a class="image-popup" href="/showcase/images/misc/2-1.jpg">
                                        <img src="/showcase/images/misc/2-1.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 offset-md-1 wow fadeInRight" data-wow-delay=".5s">
                            <h2>Hello, I'm <span class="id-color">{{ nameProgrammeur }}</span></h2>
                            <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                                similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Veniam dolore qui sunt dolor anim est proident culpa.
                            </p>
                            <ul class="info-list text-white">
                                <li><span class="d_title">Age</span><span class="d_value">36</span></li>
                                <li><span class="d_title">Residence</span><span class="d_value">USA</span></li>
                                <li><span class="d_title">Address</span><span class="d_value">08 W 36th St, New York, NY 10001</span></li>
                                <li><span class="d_title">Email</span><span class="d_value">contactme@envato.com</span></li>
                                <li><span class="d_title">Phone</span><span class="d_value">+1 333 1224 6779</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="spacer-80"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="s_border">My Services</h3>
                        </div>
                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="f-box f-icon-left f-icon-box">
                                <i class="fa fa-laptop id-color"></i>
                                <div class="fb-text">
                                    <h4>Website Design</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb30 wow fadeInRight" data-wow-delay=".25s">
                            <div class="f-box f-icon-left f-icon-box">
                                <i class="fa fa-paper-plane-o id-color"></i>
                                <div class="fb-text">
                                    <h4>Email Marketing</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-30 wow fadeInRight" data-wow-delay=".5s">
                            <div class="f-box f-icon-left f-icon-box">
                                <i class="fa fa-line-chart id-color"></i>
                                <div class="fb-text">
                                    <h4>Digital Analytics</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-sm-30 wow fadeInRight" data-wow-delay="0s">
                            <div class="f-box f-icon-left f-icon-box">
                                <i class="fa fa-object-group id-color"></i>
                                <div class="fb-text">
                                    <h4>Visual Editor</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-sm-30 wow fadeInRight" data-wow-delay=".25s">
                            <div class="f-box f-icon-left f-icon-box">
                                <i class="fa fa-hdd-o id-color"></i>
                                <div class="fb-text">
                                    <h4>Backup &amp; Security</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-sm-30 wow fadeInRight" data-wow-delay=".5s">
                            <div class="f-box f-icon-left f-icon-box">
                                <i class="fa fa-comments-o id-color"></i>
                                <div class="fb-text">
                                    <h4>IT Consultancy</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spacer-80"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="s_border">Testimonials</h3>
                        </div>
                        <div class="col-md-12">
                            <div id="testimonial-carousel" class="owl-carousel owl-theme wow fadeInUp">
                                <blockquote class="testimonial-big text-light">
                                    I'm always impressed with the services. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip.
                                    <img src="/showcase/images/people/1-1.jpg" alt="">
                                    <span class="name">John, Customer</span>
                                </blockquote>
                                <blockquote class="testimonial-big text-light">
                                    I'm always impressed with the services. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip.
                                    <img src="/showcase/images/people/2-1.jpg" alt="">
                                    <span class="name">Sandra, Customer</span>
                                </blockquote>
                                <blockquote class="testimonial-big text-light">
                                    I'm always impressed with the services. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip.
                                    <img src="/showcase/images/people/3-1.jpg" alt="">
                                    <span class="name">Michael, Customer</span>
                                </blockquote>
                                <blockquote class="testimonial-big text-light">
                                    I'm always impressed with the services. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip.
                                    <img src="/showcase/images/people/4-1.jpg" alt="">
                                    <span class="name">George, Customer</span>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section id="section-portfolio" class="dark" data-bgimage="url(/showcase/images/background/4-blur.jpg) top fixed">
                <div class="container">
                    <!-- portfolio filter begin -->
                    <div class="row">
                        <div class="col-lg-12 wow fadeInRight">
                            <h4 class="title">Showcase of my best works</h4>
                            <h2 class="title">My Portfolio</h2>
                            <div class="title-underline"></div>
                        </div>
                        <div class="col-md-12 text-center wow fadeInRight" data-wow-delay=".25s">
                            <ul id="filters">
                                <li><a href="#" data-filter="*" id="btn_all" class="selected">all projects</a></li>
                                <li><a href="#" data-filter=".illustration">illustration</a></li>
                                <li><a href="#" data-filter=".mobile">mobile</a></li>
                                <li><a href="#" data-filter=".photography">photography</a></li>
                                <li><a href="#" data-filter=".website">website</a></li>
                            </ul>
                            <div id="gallery" class="gallery full-gallery de-gallery zoom-gallery row sequence wow fadeInRight" data-wow-delay=".5s">
                                <!-- gallery item -->
                                <div class="item col-md-4 mb30 gallery-item illustration website" data-value="project-details-image.html">
                                    <a class="picframe" href="/showcase/images/portfolio/1-1.jpg" title="Exhibiz" data-source="https://themeforest.net/item/exhibiz-event-conference-and-meetup/28663470">
                                        <span class="overlay">
                                            <span class="d-title">Exhibiz</span>
                                        </span>
                                        <img src="/showcase/images/portfolio/1-1.jpg" alt="">
                                    </a>
                                </div>
                                <!-- close gallery item -->
                                <!-- gallery item -->
                                <div class="item col-md-4 mb30 gallery-item photography">
                                    <a class="picframe" href="/showcase/images/portfolio/2-1.jpg" title="Bolo" data-source="https://themeforest.net/item/bolo-onepage-creative-website-template/25030305">
                                        <span class="overlay">
                                            <span class="d-title">Bolo</span>
                                        </span>
                                        <img src="/showcase/images/portfolio/2-1.jpg" alt="">
                                    </a>
                                </div>
                                <!-- close gallery item -->
                                <!-- gallery item -->
                                <div class="item col-md-4 mb30 gallery-item illustration">
                                    <a class="picframe" href="/showcase/images/portfolio/3-1.jpg" title="Elaxo" data-source="https://themeforest.net/item/elaxo-app-and-software-website-template/29226060">
                                        <span class="overlay">
                                            <span class="d-title">Elaxo</span>
                                        </span>
                                        <img src="/showcase/images/portfolio/3-1.jpg" alt="">
                                    </a>
                                </div>
                                <!-- close gallery item -->
                                <!-- gallery item -->
                                <div class="item col-md-4 mb30 gallery-item photography illustration mobile">
                                    <a class="picframe" href="/showcase/images/portfolio/4-1.jpg" title="Jonna" data-source="https://themeforest.net/item/jonna-personal-portfolio-website-template/26361888">
                                        <span class="overlay">
                                            <span class="d-title">Jonna</span>
                                        </span>
                                        <img src="/showcase/images/portfolio/4-1.jpg" alt="">
                                    </a>
                                </div>
                                <!-- close gallery item -->
                                <!-- gallery item -->
                                <div class="item col-md-4 mb30 gallery-item photography mobile website">
                                    <a class="picframe" href="/showcase/images/portfolio/5-1.jpg" title="Justica" data-source="https://themeforest.net/item/justica-lawyer-and-attorney-website-template/29485331">
                                        <span class="overlay">
                                            <span class="d-title">Justica</span>
                                        </span>
                                        <img src="/showcase/images/portfolio/5-1.jpg" alt="">
                                    </a>
                                </div>
                                <!-- close gallery item -->
                                <!-- gallery item -->
                                <div class="item col-md-4 mb30 gallery-item mobile website">
                                    <a class="picframe" href="/showcase/images/portfolio/6-1.jpg" title="Bluetec" data-source="https://themeforest.net/item/bluetec-saas-it-software-startup-landing-page-template/27106031">
                                        <span class="overlay">
                                            <span class="d-title">Bluetec</span>
                                        </span>
                                        <img src="/showcase/images/portfolio/6-1.jpg" alt="">
                                    </a>
                                </div>
                                <!-- close gallery item -->
                            </div>
                        </div>
                        <!-- portfolio filter close -->
                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section id="section-blog" class="dark" data-bgimage="url(/showcase/images/background/4-blur.jpg) top fixed">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 wow fadeInRight">
                            <h4 class="title">This is my story</h4>
                            <h2 class="title">My Blog</h2>
                            <div class="title-underline"></div>
                        </div>
                    </div>
                    <div class="row wow fadeInRight" data-wow-delay=".25s">
                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="bloglist item">
                                <div class="post-content">
                                    <div class="post-image d-hover-zoom">
                                        <a class="image-popup" href="/showcase/images/news/1-1.jpg">
                                            <img alt="" src="/showcase/images/news/1-1.jpg">
                                        </a>
                                        <div class="post-info">
                                            <div class="inner">
                                                <span class="post-date">10 Dec 2020</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-text">
                                        <h4><a href="blog-single-1.html">Better User Interface</a></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="bloglist item">
                                <div class="post-content">
                                    <div class="post-image d-hover-zoom">
                                        <a class="image-popup" href="/showcase/images/news/2-1.jpg">
                                            <img alt="" src="/showcase/images/news/2-1.jpg">
                                        </a>
                                        <div class="post-info">
                                            <div class="inner">
                                                <span class="post-date">10 Dec 2020</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-text">
                                        <h4><a href="blog-single-1.html">Experts Web Design Tips</a></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="bloglist item">
                                <div class="post-content">
                                    <div class="post-image d-hover-zoom">
                                        <a class="image-popup" href="/showcase/images/news/3-1.jpg">
                                            <img alt="" src="/showcase/images/news/3-1.jpg">
                                        </a>
                                        <div class="post-info">
                                            <div class="inner">
                                                <span class="post-date">10 Dec 2020</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-text">
                                        <h4><a href="blog-single-1.html">Importance Of Web Design</a></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="bloglist item">
                                <div class="post-content">
                                    <div class="post-image d-hover-zoom">
                                        <a class="image-popup" href="/showcase/images/news/4-1.jpg">
                                            <img alt="" src="/showcase/images/news/4-1.jpg">
                                        </a>
                                        <div class="post-info">
                                            <div class="inner">
                                                <span class="post-date">10 Dec 2020</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-text">
                                        <h4><a href="blog-single-1.html">Avoid These Erros In UI Design</a></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="bloglist item">
                                <div class="post-content">
                                    <div class="post-image d-hover-zoom">
                                        <a class="image-popup" href="/showcase/images/news/5-1.jpg">
                                            <img alt="" src="/showcase/images/news/5-1.jpg">
                                        </a>
                                        <div class="post-info">
                                            <div class="inner">
                                                <span class="post-date">10 Dec 2020</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-text">
                                        <h4><a href="blog-single-1.html">Make Mobile Website Faster</a></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="bloglist item">
                                <div class="post-content">
                                    <div class="post-image d-hover-zoom">
                                        <a class="image-popup" href="/showcase/images/news/6-1.jpg">
                                            <img alt="" src="/showcase/images/news/6-1.jpg">
                                        </a>
                                        <div class="post-info">
                                            <div class="inner">
                                                <span class="post-date">10 Dec 2020</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-text">
                                        <h4><a href="blog-single-1.html">How Sell Digital Product</a></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section id="section-contact" class="dark" data-bgimage="url(/showcase/images/background/4-blur.jpg) top fixed">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 wow fadeInRight">
                            <h4 class="title">I'm available for hire</h4>
                            <h2 class="title">Contact Me</h2>
                            <div class="title-underline"></div>
                        </div>
                    </div>
                    <form name="contactForm" id="contact_form" class="row form-default form-dark wow fadeInRight" data-wow-delay=".25s" method="post" action="email.php">
                        <div class="col-md-6">
                            <div class="field-set">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Your Name">
                                <div class="line-fx"></div>
                            </div>
                            <div class="field-set">
                                <input type="text" name="email" id="email" class="form-control" placeholder="Your Email">
                                <div class="line-fx"></div>
                            </div>
                            <div class="field-set">
                                <input type="text" name="phone" id="phone" class="form-control" placeholder="Your Phone">
                                <div class="line-fx"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="field-set">
                                <textarea name="message" id="message" class="form-control" placeholder="Your Message"></textarea>
                                <div class="line-fx"></div>
                            </div>
                        </div>
                        <div class="spacer-single"></div>
                        <div class="col-md-12 text-center">
                            <div id="submit">
                                <input type="submit" id="send_message" value="Send" class="btn btn-custom color-2">
                            </div>
                            <div id="mail_success" class="success">Your message has been sent successfully.</div>
                            <div id="mail_fail" class="error">Sorry, error occured this time sending your message.</div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <!-- content close -->
    </div>

    <div id="selector">
        <div class="sc-opt sc-mt">
            <div class="sc-icon"><i class="fa fa-eyedropper"></i></div>
            <span class="opt tc1" data-color="scheme-01"></span>
            <span class="opt tc2" data-color="scheme-02"></span>
            <span class="opt tc3" data-color="scheme-03"></span>
            <span class="opt tc4" data-color="scheme-04"></span>
            <span class="opt tc5" data-color="scheme-05"></span>
            <span class="opt tc6" data-color="scheme-06"></span>
        </div>

    </div>
    </div>
</template>

<style scoped>
    .bg-gray-100 {
        background-color: #f7fafc;
        background-color: rgba(247, 250, 252, var(--tw-bg-opacity));
    }

    .border-gray-200 {
        border-color: #edf2f7;
        border-color: rgba(237, 242, 247, var(--tw-border-opacity));
    }

    .text-gray-400 {
        color: #cbd5e0;
        color: rgba(203, 213, 224, var(--tw-text-opacity));
    }

    .text-gray-500 {
        color: #a0aec0;
        color: rgba(160, 174, 192, var(--tw-text-opacity));
    }

    .text-gray-600 {
        color: #718096;
        color: rgba(113, 128, 150, var(--tw-text-opacity));
    }

    .text-gray-700 {
        color: #4a5568;
        color: rgba(74, 85, 104, var(--tw-text-opacity));
    }

    .text-gray-900 {
        color: #1a202c;
        color: rgba(26, 32, 44, var(--tw-text-opacity));
    }

    @media (prefers-color-scheme: dark) {
        .dark\:bg-gray-800 {
            background-color: #2d3748;
            background-color: rgba(45, 55, 72, var(--tw-bg-opacity));
        }

        .dark\:bg-gray-900 {
            background-color: #1a202c;
            background-color: rgba(26, 32, 44, var(--tw-bg-opacity));
        }

        .dark\:border-gray-700 {
            border-color: #4a5568;
            border-color: rgba(74, 85, 104, var(--tw-border-opacity));
        }

        .dark\:text-white {
            color: #fff;
            color: rgba(255, 255, 255, var(--tw-text-opacity));
        }

        .dark\:text-gray-400 {
            color: #cbd5e0;
            color: rgba(203, 213, 224, var(--tw-text-opacity));
        }
    }
</style>

<script>
    import { defineComponent } from 'vue'
    import { Head, Link } from '@inertiajs/inertia-vue3';

    export default defineComponent({
        components: {
            Head,
            Link,
        },

        data() {
            return {
                nameProgrammeur : "José Rodolphe TETEVI"
            }
        },

        props: {
            canLogin: Boolean,
            canRegister: Boolean,
            laravelVersion: String,
            phpVersion: String,
        }
    })
</script>
